@model IEnumerable<WebApplication2.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipos</h1>


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extranjeros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extranjeros)
            </td>
                <td>
                    <a type=" button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar </a> |
                    <a type=" button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a type=" button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" type=" button" class="btn btn-success">Crear Nuevo Equipo</a>
</p>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" href="http://localhost:5204/" type="button">Inicio</a>

</div>